name: Build & Test & Release
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.26"]
        binaries:
          - { os: darwin, arch: amd64, suffix: -darwin-amd64 }
          - { os: darwin, arch: arm64, suffix: -darwin-arm64 }
          - { os: freebsd, arch: "386", suffix: -freebsd-386 }
          - { os: freebsd, arch: amd64, suffix: -freebsd-amd64 }
          - { os: linux, arch: "386", suffix: -linux-386 }
          - { os: linux, arch: amd64, suffix: -linux-amd64 }
          - { os: linux, arch: arm64, suffix: -linux-arm64 }
          - { os: linux, arch: arm, suffix: -linux-armv7, arm: "7" }
          - { os: windows, arch: "386", suffix: -windows-386.exe }
          - { os: windows, arch: amd64, suffix: -windows-amd64.exe }
    steps:
      - uses: actions/checkout@v6
      - name: Use Golang v${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Build
        run: |
          git fetch --force --tags
          make build
        env:
          GOOS: ${{ matrix.binaries.os }}
          GOARCH: ${{ matrix.binaries.arch }}
          GOARM: ${{ matrix.binaries.arm }}
          SUFFIX: ${{ matrix.binaries.suffix }}
      - name: Upload dist files
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v7
        with:
          name: build${{ matrix.binaries.suffix }}
          path: build/

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.26"]
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: Use Golang v${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run tests
        run: |
          make test
          make coverage

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [build, test]
    permissions:
      contents: write
    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@v8
        with:
          pattern: build-*
          path: build
          merge-multiple: true
      - name: Create Release & Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/nas-cli-*

  release-homebrew:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - uses: actions/checkout@v6
        with:
          repository: jeremiergz/homebrew-nas-cli
          token: ${{ secrets.PA_TOKEN }}
      - name: Download AMD64 build files
        uses: actions/download-artifact@v8
        with:
          name: build-darwin-amd64
          path: build
      - name: Download ARM64 build files
        uses: actions/download-artifact@v8
        with:
          name: build-darwin-arm64
          path: build
      - name: Update formula
        run: |
          export SHA256_AMD64="$(awk -F '  +' '{print $1}' build/nas-cli-darwin-amd64.sha256)"
          export SHA256_ARM64="$(awk -F '  +' '{print $1}' build/nas-cli-darwin-arm64.sha256)"
          sed -i "11s/sha256 \".*\"/sha256 \"${SHA256_AMD64}\"/" ./Formula/nas-cli.rb
          sed -i "15s/sha256 \".*\"/sha256 \"${SHA256_ARM64}\"/" ./Formula/nas-cli.rb
          sed -i "s/version \".*\"/version \"${GITHUB_REF_NAME}\"/" ./Formula/nas-cli.rb
          git add ./Formula
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -m "chore: update to ${GITHUB_REF_NAME}"
          git push
